<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175466999-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-175466999-1');
    </script>
    
    <title>Aaron Chong</title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/ico" href="favicon.ico">

    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>

    <footer>
      <div class="footer-copyright text-center py-3 text-muted q-ma-md q-mt-xl">
        Apache License Version 2.0:
        </br>
        <a class="text-black" href="/"> aaronchong.dev | </a>
        <a class="text-black" href="https://github.com/aaronchongth/quasar-portfolio">Source Code</a>
      </div>
    </footer>
  </body>
</html>
